nextflow.enable.dsl=2

params {
  input_reads = ""
  directory_out = ""
  MGE_db = ""
  container = ""
  executor = ""
  storeDir = ""
  report_path = ""
  MGE_db_path = ""
  ARG_db_path = ""
  phenotype = ""
  reads = ""
  cluster_options = ""
  container = ""
  run_id = ""
  trimgalore_path = ""
  MGE_db_raw = ""
}

process {
  scratch = true
  cache = true
  container = params.container
}

profiles {
    server {
        process.executor = 'local'
        apptainer {
          enabled = true
          autoMounts = true
      }
    }
    cluster {
        process.executor = 'sge'
        process.clusterOptions = params.cluster_options
        workDir = $TMPDIR/work 
        singularity {
          enabled = true
          autoMounts = true
      }
   
    }
}
cleanup = true
