nextflow.enable.dsl=2

params {
  input_reads = ""
  directory_out = ""
  MGE_db = ""
  container = ""
  executor = ""
  storeDir = ""
  report_path = ""
  MGE_db_path = ""
  ARG_db_path = ""
  phenotype = ""
  scratch_dir = ""
  cluster_options = ""
  container = ""
  run_id = ""
  trimgalore_path = ""
  MGE_db_raw = ""
}

profiles {
    server {
        process.cache = true
        process.container = params.container
        process.executor = 'local'
        apptainer.enabled = true
        apptainer.autoMounts = true

    }
    cluster {
        process.cache = true
        process.container = params.container
        process.executor = 'slurm'
        process.clusterOptions = params.cluster_options
        process.scratch = true
        singularity.enabled = true
        singularity.autoMounts = true   
    }
}

process {
    // Global configurations
    maxRetries = 3
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }

    withName:TrimGalore {
        cpus = 10
        time = { 2.hours * Math.pow(1.5, task.attempt - 1) }
        storeDir = "${params.storeDir}TrimGalore/"
        publishDir = "${params.directory_out}TrimGalore/"
    }

    withName:Diamond {
        cpus = 10
        time = { 2.hours * Math.pow(1.5, task.attempt - 1) }
        storeDir = "${params.storeDir}Diamond/"
        publishDir = "${params.directory_out}Diamond/"
    }

    withName:MetaxaQR {
        cpus = 10
        time = { 9.hours * Math.pow(1.5, task.attempt - 1) }
        storeDir = "${params.storeDir}MetaxaQR/"
        publishDir = "${params.directory_out}MetaxaQR/"
    }

    withName:MetaxaQR_ttt {
        cpus = 1
        time = { 20.minutes * Math.pow(1.5, task.attempt - 1) }
        storeDir = "${params.storeDir}MetaxaQR_ttt/"
        publishDir = "${params.directory_out}MetaxaQR_ttt/"
    }

    withName:MetaxaQR_dc {
        cpus = 1
        time = { 20.minutes * Math.pow(1.5, task.attempt - 1) }
        storeDir = "${params.storeDir}MetaxaQR_dc/"
        publishDir = "${params.directory_out}MetaxaQR_dc/"
    }

    withName:Gene_Normalization {
        cpus = 15
        time = { 0.2.hours * Math.pow(1.5, task.attempt - 1) }
        storeDir = "${params.storeDir}Gene_Normalization/"
        publishDir = "${params.directory_out}Gene_Normalization/"
    }

    withName:Build_ResFinder_db {
        cpus = 1
        time = { 10.minutes * Math.pow(1.5, task.attempt - 1) }
        storeDir = "${params.storeDir}ResFinder/"
        publishDir = "${params.directory_out}ResFinder/"
    }

    withName:Build_mobileOG_db {
        cpus = 1
        time = { 10.minutes * Math.pow(1.5, task.attempt - 1) }
        storeDir = "${params.storeDir}mobileOG/"
        publishDir = "${params.directory_out}mobileOG/"
    }

    withName:MultiQC {
        cpus = 1
        time = { 15.minutes * Math.pow(1.5, task.attempt - 1) }
        storeDir = "${params.storeDir}MultiQC/"
        publishDir = "${params.directory_out}MultiQC/"
    }
}

cleanup = true

timeline {
    enabled = true
    file = "/cephyr/NOBACKUP/groups/jbp/marcus/riksmaten/reports/nextflow_timeline.html"
}

report {
    enabled = true
    file = "/cephyr/NOBACKUP/groups/jbp/marcus/riksmaten/reports/nextflow_report.html" 
}

trace {
    enabled = true
    file = '/cephyr/NOBACKUP/groups/jbp/marcus/riksmaten/reports/trace_report.txt'
    trace.overwrite = true
    fields = ['task_id', 'name', 'duration', 'realtime',
              'rss', 'process','peak_rss', 'script']
}